:root {
  --blue: #1b2b65;
  --bright-blue: #2c449a;
  --orange: #f47731;
}
// font
@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Light'), local('TTFirsNeue-Light'),
    url('../fonts/TTFirsNeue-Light.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Regular'), local('TTFirsNeue-Regular'),
    url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

.body {
  
  background-color: #1b2b65;
  color: white;
  font-family: 'TT Firs Neue', Arial, sans-serif;
}

.body :after {
  pointer-events: none;
  background-image: url('../img/noise.png');
  background-size: 75%;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 6%;
}

.cover-container {
  max-width: 42em;
}

// mouse cursor
.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}

.link-grow{
  transform: scale(2);
  border: none;
  background-color: #f47731;
}

/*
 * Header
 */

header{
  text-transform: uppercase;
}

.float-md-start {
  font-size: 1rem;
  margin-top: 1%;
}

.nav-masthead .nav-link {
  font-size: 1rem;
  padding: .25rem 0;
  font-weight: 300;
  color: white;
  background-color: val(--blue);
  border-bottom: .10rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: white;
  cursor: pointer;
  color: white;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

// hero section

.animate {
  animation-name:slid-left;
  animation-duration: 2.5s;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30% 0% 30% 0%;
}

.hero__title {
  opacity: 0;
  color: white;
  text-align: center;
  line-height: 1000em;
  max-width: 1400px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 60px;
  line-height: 4rem;
  letter-spacing: 0.1em;
}

.hero_cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}

@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


// sunsection


.sun {
  position: absolute;
  background-color: var(--blue);
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.sun__circle {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    #f47731 0%,
    rgba(244, 119, 49, 0.35) 100%
  );
  mix-blend-mode: lighten;
}

.lyrics{
  margin : 30% 0% 30% 0%;
}

.lyrics__title{
  color:#f47731;
  margin-bottom: 5%;
}

.lyrics p {
  font-weight:200;
  font-size: 2rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
}


// footer section


.outro {
  color:white;
 
}

.outro__text__main{
  font-size: 1rem;
  color: white;
}
.outro__text{
  font-size: 0.8rem;
  font-weight: lighter;
  color: white;
}

.outro_email a {
  color: white;
}

.outro_email a :hover {
  color: val(--blue);
}

.smile {
  transform: rotate(90deg);
  font-size: 100px;
  color: var(--orange);
  mix-blend-mode: screen;
  padding-top: 2%;
}
