:root {
  --blue: #1b2b65;
  --bright-blue: #2c449a;
  --orange: #f47731;
}

@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue Light"), local("TTFirsNeue-Light"), url("../fonts/TTFirsNeue-Light.woff2") format("woff2"), url("../fonts/TTFirsNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue Regular"), local("TTFirsNeue-Regular"), url("../fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("../fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

.body {
  background-color: #1b2b65;
  color: white;
  font-family: "TT Firs Neue", Arial, sans-serif;
}

body:after {
  content: "";
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.2;
  filter: invert(1);
  background-size: cover;
}

.cover-container {
  max-width: 42em;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}

.link-grow {
  transform: scale(2);
  border: none;
  background-color: #f47731;
}

/*
 * Header
 */
header {
  text-transform: uppercase;
}

.float-md-start {
  font-size: 1rem;
  margin-top: 1%;
}

a {
  color: white !important;
}

.nav-masthead {
  color: white;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #fff;
}

.nav-link:before {
  content: "";
  position: absolute;
  height: 2px;
  color: #fff;
  background: #fff;
  bottom: -4px;
  right: 0;
  width: 0%;
  transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.nav-link:hover:before {
  left: 0;
  width: 100%;
  color: #fff;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30% 0% 30% 0%;
}

.hero__title {
  color: white;
  text-align: center;
  line-height: 1000em;
  max-width: 1400px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 60px;
  line-height: 4rem;
  letter-spacing: 0.1em;
}

.hero-ratate-section {
  align-items: left;
  position: relative;
  text-align: center;
  font-size: 3.5em;
  color: white;
}

.txt-rotate {
  color: #f47731;
}

.hero_cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}

.sun {
  position: absolute;
  background-color: var(--blue);
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.sun__circle {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background: linear-gradient(180deg, #f47731 0%, rgba(244, 119, 49, 0.35) 100%);
  mix-blend-mode: lighten;
}

.lyrics {
  margin: 30% 0% 30% 0%;
}

.lyrics__title {
  color: #f47731;
  margin-bottom: 5%;
}

.lyrics p {
  font-weight: 200;
  font-size: 2rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
}

.outro {
  color: white;
}

.outro__text__main {
  font-size: 1rem;
  color: white;
}

.outro__text {
  font-size: 0.8rem;
  font-weight: lighter;
  color: white;
}

.outro_email a {
  color: white;
}

.outro_email a :hover {
  color: val(--blue);
}

.smile {
  transform: rotate(90deg);
  font-size: 100px;
  color: var(--orange);
  mix-blend-mode: screen;
  padding-top: 2%;
}

/*# sourceMappingURL=style.css.map */
