<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>Kim Portfolio</title>
    <!-- scss -->
    <link rel="Stylesheet" href="css/style.css"/>
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- script -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- ASOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/b0671e4f35.js" crossorigin="anonymous"></script>
  </head>

  <body class="text-center body project">
    <div class="cursor" id="cursor"></div>
    <nav class="navbar">
      <div class="logo">
        <h1 class="float-md-start mb-0">K<span>I</span>M</h1>
      </div>
      <ul class="nav nav-items nav-masthead justify-content-center float-md-end">
        <li class="nav-link active" aria-current="page"><a href="../index.html">Home</a></li>
        <li class="nav-link"><a href="work.html">Work</a></li>
        <li class="nav-link"><a href="about.html">About</a></li>
      </ul>  
      
    <div class="hamburger">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>

</nav>

        <div class="d-flex flex-column projectpage"> 
            <section class="project-info">

                <div class="row project-overview-card aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                    <div class="project-title col-lg-6">
                        <span class="project-cat">Full-stack Development</span>
                        <h1 class="lg-heading">Study Blog Project</h1>
                    </div>
                      <div class="info-detail detail1 col-lg-2 col-sm-12">
                          <span class="sm-heading">Timeline</span>
                          <span class="content">March 2021</span>
                      </div>
                      <div class="info-detail detail2 col-lg-2 col-sm-12">
                          <span class="sm-heading">Role</span>
                          <span class="content">UI Designer, Full-stack Developer</span>
                      </div>
                      <div class="info-detail detail3 col-lg-2 col-sm-12">
                          <span class="sm-heading">Tools</span>
                          <span class="content">HTML5, CSS, JavaScript, Bootstrap, 
                            jQuery, MongoDB, NodeJS, AWS Ubuntu (EC2)</span>
                      </div>
                
                </div>

                <div class="row info-row2 aos-init aos-animate project-info-detail" data-aos="fade-up" data-aos-duration="1000">
                   
                    <div class="project-overview">
                      <span class="sm-heading">Project Overview</span>
                      <p class="content">This project was to build a simple blog web site where the user can create and delete notes about what they studied. The website was built using Javascript, MongoDB, HTML5, CSS and Material UI. </p>
                    </div>
                
                  </div>
                
              </section>

              <section class="project-thumb blog-thumb aos-init aos-animate" data-aos="zoom-out" data-aos-duration="1000">
              </section>

              
              <section class="project-detail">

                <div class="phase row aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                  <div class="phase-img col-4">
                    <img src="img/blog-plan.jpg" alt="blogapp-mockup">
                  </div>

                    <div class="phase-content col-4">
                        <span class="phase-num">01</span>
                        <h1 class="lg-heading">Plan</h1>
                        <p class="content">
                          Towards my previous projects, I realized that lack my data skills.
                          For my skill-up, I decided to make a website using MongoDB. 
                          I spent some time thinking about what I would make and 
                          how I would divide sections to show data. 
                          Through my blog project, I wanted to make what I will really use in my real life 
                          to share my lifestyle and my study etc.                           
                        </p>                
                    </div>


                </div>

                <div class="phase row aos-init content-2" data-aos="fade-up" data-aos-duration="1000">
                    
                  <div class="phase-content col-4">
                        <span class="phase-num">02</span>
                        <h1 class="lg-heading">Design</h1>
                        <p class="content"> 
                          I created a wireframe and design with Figma to figure out how I would position 
                          the elements and style them. I wanted to design with a simple theme 
                          and focus on how I would show the information and purpose. 
                          Also, I decided what languages I would use for this project.  
                          <br/>
                          <br/>
                          <b>Tech Stack</b>
                          <p>Front-end : HTML5 | CSS | Javascript <br/>
                            Back-end : Node.js<br/>
                            Database : MongDB
                          </p>
                        </p>    
                    </div>
                                        
                    <div class="phase-img content-img-2 col-4">
                      <img src="img/blogproject_design.jpg" alt="blogproject-mockup">
                    </div>
                </div>

                <div class="phase row aos-init" data-aos="fade-up" data-aos-duration="1000">
                    <div class="phase-img col-4">
                        <img src="img\blog_project_live.gif" alt="blogapp_coding">
                    </div>
                    <div class="phase-content col-4">
                        <span class="phase-num">03</span>
                        <h1 class="lg-heading">Implement</h1>
                        <p class="content">
                          After finishing up HTML markup and styling using CSS, I added some animations 
                          using the Bootstrap library to make a great layout.
                          In order to save and get data, I used MongoDB and Node.js. Through this process, 
                          I learned how to use non-SQL. 
                         </p>                
                    </div>
                </div>
               
               

                    <div class="phase row aos-init content-2" data-aos="fade-up" data-aos-duration="1000">
                    
                      <div class="phase-content col-4">
                            <span class="phase-num">04</span>
                            <h1 class="lg-heading">Deploy</h1>
                            <p class="content"> 
                              To deploy this project, we decide to use Amazon Web Service. 
                              Since this project is a personal project, I could use the free tier for EC2. 
                              I made a cloud server with Ubuntu which is familiar to me.
                              and deployed the project from Git where I controlled the version of the project.
                              I needed to redirect the domain (port) because this project was developed using node.js. 
                              So I used 'redir' command in my cloud server. With this experience, I solved the error of deployment,
                              I learned that I can deploy any project with AWS.   
                            </p>    
                        </div>
                                            
                        <div class="phase-img content-img-2 col-4">
                          <img src="img/blog_aws.jpg" alt="blogproject-mockup">
                        </div>
                    </div>
                    <br />
                <div class="phase row aos-init" data-aos="fade-up" data-aos-duration="1000">
                  <button class="preview"><a href="http://www.spacekimmy.com/" target="_blank" class="preview-link">Live Preview >></a></buttom>
                  <button class="code"><a href="https://github.com/Kimmyyoung/Blog" class="code_link" target="_blank">Github >></a></button>
              </div>

              </section>


            <footer class="footer">
                <div class="footer-content aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                  <h1> Let's Connect! </h1>
                  <p>If your're interested in working with me, <br/> please feel free to reach out to me at</p>
                  <a href="mailto://hiyoung.kimmy@gmail.com"><span class="highlight">hiyoung.kimmy@gmail.com</span></a>
                    
                    <ul class="footer-link">
                      <li>
                        <a href="">
                          <i class="fab fa-instagram">
                          </i>
                        </a>
                      </li>
                      <li>
                        <a href="https://github.com/Kimmyyoung">
                          <i class="fab fa-github">
                          </i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/in/kimmy-kim-119b21208/">
                          <i class="fab fa-linkedin-in">
                          </i>
                        </a>
                      </li>
                    </ul>
                  
                </div>
              </footer>

            </div>

  </div>

<script type="module" src="js/app.js"></script>
<script>AOS.init();</script>
</body>
</html>