<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>Kimmy Portfolio</title>
    <!-- scss -->
    <link rel="Stylesheet" href="css/style.css"/>
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- script -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- ASOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/b0671e4f35.js" crossorigin="anonymous"></script>
  
  </head>

  <body class="text-center body project">
    <div class="cursor" id="cursor"></div>
          <nav>
              <div class="logo">
                <h1 class="float-md-start mb-0">KIMMY <span>kim</span></h1>
              </div>
              <ul class="nav nav-items nav-masthead justify-content-center float-md-end">
                <li class="nav-link active" aria-current="page"><a href="../index.html">Home</a></li>
                <li class="nav-link"><a href="work.html">Work</a></li>
                <li class="nav-link"><a href="about.html">About</a></li>
              </ul>  
              
            <div class="hamburger">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
        </nav>

        <div class="d-flex flex-column projectpage"> 
            <section class="project-info">

                <div class="row project-overview-card aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                    <div class="project-title col-lg-6">
                        <span class="project-cat">Graphic Design</span>
                        <h1 class="lg-heading">Digital Design Creatives</h1>
                    </div>
                      <div class="info-detail detail1 col-lg-2 col-sm-12">
                          <span class="sm-heading">Timeline</span>
                          <span class="content">January 2022 - March 2022</span>
                      </div>
                      <div class="info-detail detail2 col-lg-2 col-sm-12">
                          <span class="sm-heading">Role</span>
                          <span class="content">Graphic Designer</span>
                      </div>
                      <div class="info-detail detail3 col-lg-2 col-sm-12">
                          <span class="sm-heading">Tools</span>
                          <span class="content">Adobe Illustrator CS6  Adobe Photoshop CS6</span>
                      </div>
                
                </div>

                <div class="row info-row2 aos-init aos-animate project-info-detail" data-aos="fade-up" data-aos-duration="1000">
                   
                    <div class="project-overview">
                      <span class="sm-heading">Overview</span>
                      <p class="content">The client’s pay for more than just product’s features. They pay for the experience and aspiration. What really makes a good promotional content is not 
                        only mobile responsive, quick to load, but also having effective usage of negative space, photography and presentation of their brand identity etc.</p>
                    </div>
                
                 </div>
                
              </section>

              <section class="dgc-thumb aos-init aos-animate" data-aos="zoom-out" data-aos-duration="1000">
              </section>

              
              <section class="project-detail">

                <div class="phase aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                    <div class="phase-content">
                        <span class="phase-num">01</span>
                        <span class="dgc-lg-heading">Promotional Content Design</span>
                        <p class="dgc-content">
                            I had a meeting with client to better understand client’s needs. 
                            I spent some time to reserch some competitor’s design 
                            through Pinterest, Behance etc. 
                            Also, the client confirmed main color palette and 
                            we decided to theme for overall design. 
                        </p>                
                    </div>
                </div>

                <div class="slider aos-init aos-animate dgc-phase" data-aos="fade-up" data-aos-duration="1000">
                  <div class="slide-track">
                        <div class="slide-IG">
                            <img src="img\dgc-instagram-1.jpg">
                        </div>
                        <div class="slide-IG">
                            <img src="img\dgc-instagram-2.jpg">
                        </div>
                        <div class="slide-IG">
                            <img src="img\dgc-instagram-3.jpg">
                        </div>
                        <div class="slide-IG">
                            <img src="img\dgc-instagram-4.jpg">
                        </div>
                        <div class="slide-IG">
                            <img src="img\dgc-instagram-1.jpg">
                        </div>
                        <div class="slide-IG">
                            <img src="img\dgc-instagram-2.jpg">
                        </div>
                        <div class="slide-IG">
                            <img src="img\dgc-instagram-3.jpg">
                        </div>
                        <div class="slide-IG">
                            <img src="img\dgc-instagram-4.jpg">
                        </div>
                     </div> 
                 </div>  


                <!-- design section -->

                    
                <div class="phase aos-init aos-animate dgc-phase" data-aos="fade-up" data-aos-duration="1000">
                    <div class="phase-content">
                        <span class="phase-num">02</span>
                        <span class="dgc-lg-heading">Email Marketing </span>
                        <p class="dgc-content">
                            People thesedays are more actively responsive to animated contents other than image. I have designed GIF contents to promote the companies through email and social media. 
                            For animated contents, I mainly use Adobe Premiere Pro, Adobe Illustrator CS6, Figma.
                        </p>                
                    </div>
                </div>

              
                <div class="slider aos-init aos-animate dgc-phase" data-aos="fade-up" data-aos-duration="1000">
                    <div class="slide-track">
                        <div class="slide">
                            <img src="img\dgc-email-1.jpg">
                        </div>
                        <div class="slide">
                            <img src="img\dgc-email-2.jpg">
                        </div>
                        <div class="slide">
                            <img src="img\dgc-email-3.gif">
                        </div>
                        <div class="slide">
                            <img src="img\dgc-email-4.jpg">
                        </div>
                        <div class="slide">
                          <img src="img\dgc-email-5.jpg">
                      </div>
                      <div class="slide">
                          <img src="img\dgc-email-6.jpg">
                      </div>

                        <div class="slide">
                            <img src="img\dgc-email-1.jpg">
                        </div>
                        <div class="slide">
                            <img src="img\dgc-email-2.jpg">
                        </div>
                        <div class="slide">
                            <img src="img\dgc-email-3.gif">
                        </div>
                        <div class="slide">
                            <img src="img\dgc-email-4.jpg">
                        </div>
                        <div class="slide">
                          <img src="img\dgc-email-5.jpg">
                      </div>
                      <div class="slide">
                          <img src="img\dgc-email-6.jpg">
                      </div>
                     </div> 
                 </div>  

                



                 
                    
                <div class="phase aos-init aos-animate dgc-phase" data-aos="fade-up" data-aos-duration="1000">
                  <div class="phase-content">
                      <span class="phase-num">03</span>
                      <span class="dgc-lg-heading">Brand Item Catalog</span>
                      <p class="dgc-content">
                        In order to increase the sales of company, It is essential to having catalog to introduce company’s services and items. I have created product catalog and business proposal to catch people’s eyes quickly. 

                      </p>                
                  </div>
              </div>

            
              <div class="slider aos-init aos-animate dgc-phase" data-aos="fade-up" data-aos-duration="1000">
                  <div class="slide-track">
                      <div class="slide-catalog">
                          <img src="img\dgc-catalog-1.jpg">
                      </div>
                      <div class="slide-catalog">
                          <img src="img\dgc-catalog-2.jpg">
                      </div>
                      <div class="slide-catalog">
                          <img src="img\dgc-catalog-3.jpg">
                      </div>
                      <div class="slide-catalog">
                        <img src="img\dgc-catalog-1.jpg">
                    </div>
                    <div class="slide-catalog">
                        <img src="img\dgc-catalog-2.jpg">
                    </div>
                    <div class="slide-catalog">
                        <img src="img\dgc-catalog-3.jpg">
                    </div>
                    <div class="slide-catalog">
                      <img src="img\dgc-catalog-1.jpg">
                  </div>
                  <div class="slide-catalog">
                      <img src="img\dgc-catalog-2.jpg">
                  </div>
                  <div class="slide-catalog">
                      <img src="img\dgc-catalog-3.jpg">
                  </div>
                    
                   </div> 
               </div>  

              


                <!-- <div class="phase">
                  <div class="final-img">
                      <img src="images/noteapp_gif.gif" alt="noteapp_final">
                  </div>
                </div>
                <div class="phase">
                <iframe src="https://codesandbox.io/embed/note-taking-app-4miyh?fontsize=14&amp;hidenavigation=1&amp;theme=dark" style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;" title="Note-taking App" allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking" sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"></iframe> -->
                <!-- </div> -->
              </section>


            <footer class="footer">
                <div class="footer-content aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                  <h1> Let's Connect! </h1>
                  <p>If your're interested in working with me, please feel free to reach out to me at</p>
                  <a href="mailto://hiyoung.kimmy@gmail.com"><span class="highlight">hiyoung.kimmy@gmail.com</span></a>
                    
                    <ul class="footer-link">
                      <li>
                        <a href="https://www.instagram.com/hykimmmm/">
                          <i class="fab fa-instagram">
                          </i>
                        </a>
                      </li>
                      <li>
                        <a href="https://github.com/Kimmyyoung">
                          <i class="fab fa-github">
                          </i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/in/kimmy-kim-119b21208/">
                          <i class="fab fa-linkedin-in">
                          </i>
                        </a>
                      </li>
                    </ul>
                  
                </div>
              </footer>

            </div>

  </div>

<script type="module" src="js/app.js"></script>
<script type="module" src="js/digitalcreatives.js"></script>
<script>AOS.init();</script>
</body>
</html>