<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>Kimmy Portfolio</title>
    <!-- scss -->
    <link rel="Stylesheet" href="css/style.css"/>
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- script -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- ASOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/b0671e4f35.js" crossorigin="anonymous"></script>
  </head>

  <body class="text-center body project">
    <div class="cursor" id="cursor"></div>
          <nav>
              <div class="logo">
                <h1 class="float-md-start mb-0">KIMMY <span>kim</span></h1>
              </div>
              <ul class="nav nav-items nav-masthead justify-content-center float-md-end">
                <li class="nav-link active" aria-current="page"><a href="index.html">Home</a></li>
                <li class="nav-link"><a href="work.html">Work</a></li>
                <li class="nav-link"><a href="about.html">About</a></li>
              </ul>  
              
            <div class="hamburger">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
        </nav>

        <div class="d-flex flex-column"> 
            <section class="project-info">

                <div class="row project-overview-card aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                    <div class="project-title col-lg-6">
                        <span class="project-cat">UI Design & Front-end Development</span>
                        <h1 class="lg-heading">SWEETPOMONA Company Website</h1>
                    </div>
                      <div class="info-detail detail1 col-lg-2 col-sm-12">
                          <span class="sm-heading">Timeline</span>
                          <span class="content">April 2022 - June 2022</span>
                      </div>
                      <div class="info-detail detail2 col-lg-2 col-sm-12">
                          <span class="sm-heading">Role</span>
                          <span class="content">UI Designer, Web Developer</span>
                      </div>
                      <div class="info-detail detail3 col-lg-2 col-sm-12">
                          <span class="sm-heading">Tools</span>
                          <span class="content">HTML5, CSS, Wordpress, WP Plugin
                            Figma, Adobe Illustrator CS6 </span>
                      </div>
                
                </div>

                <div class="row info-row2 aos-init aos-animate project-info-detail" data-aos="fade-up" data-aos-duration="1000">
                   
                    <div class="project-overview">
                      <span class="sm-heading">Overview</span>
                      <p class="content">
                        Sweetpomona is an trading company that sells coffee syrup and powder etc. Started in 2018, as cafe industry gets bigger and bigget, they aim promoting their products and service.

                        Working as the only developer and designer in the team, the main focus was saving the time and maximized effection of main goal. I developed the ‘SWEETPOMONA’ website and designed 
                        graphic features for the website.
                      </p>
                    </div>
                
                  </div>
                
              </section>

              <section class="sweetpomona-thumb aos-init aos-animate" data-aos="zoom-out" data-aos-duration="1000">
              </section>

              
              <section class="project-detail">

                <div class="phase row aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                  <div class="phase-img col-4">
                    <img src=".\img\Sweetpomona-plan.gif" alt="sweetpomona-mockup">
                  </div>

                    <div class="phase-content col-4">
                        <span class="phase-num">01</span>
                        <h1 class="lg-heading">Plan</h1>
                        <p class="content">
                            My client require to make website like E-catalogue with tight budget. 
                            Based on the client’s inquiry, I first composed with wireframe and brand features 
                            to estabilished brand identity. The breand features process took about a full-month.
                            
                            Composed with wireframe for website.
                            Designed Brand Features.

                        </p>                
                    </div>
                </div>

                <div class="phase row aos-init content-2" data-aos="fade-up" data-aos-duration="1000">
                    <div class="phase-content col-4">
                        <span class="phase-num">02</span>
                        <h1 class="lg-heading">Design</h1>
                        <p class="content">
                            Once the idea made out of the conceptual stage and feedback has been finalized,
                            I created design guidelines of the interface. Then I started to build a high fidelity design.
                            
                            
                        </p>                
                    </div>
                    <div class="phase-img content-img-2 col-4">
                      <img src="img/pj1-design.png" alt="ecopac-mockup">
                    </div>
                </div>

                <div class="phase row aos-init" data-aos="fade-up" data-aos-duration="1000">
                    <div class="phase-img col-4">
                        <img src=".\img\sweetpomona-dev.jpg" alt="ecopac_coding">
                    </div>
                    <div class="phase-content col-4">
                        <span class="phase-num">03</span>
                        <h1 class="lg-heading">Implement</h1>
                        <p class="content">
                            After finishing all of design tasks,  I decided to use Wordpress to build website. 
                            Based on my client’s budget, I only use free WP plugin. In order to show the item list with 
                            pictures, I used a Woocommerce Plugin that is e-commerce plugin without price.
                            (PS, selling the product was not a purpose for this website.)

                            If there was some problem to design the site, I used “Theme Editor” for coding or login to 
                            webserver to modify style.css. 
                        </p>                
                    </div>
                </div>
               
                <!-- <div class="phase">
                  <div class="final-img">
                      <img src="images/noteapp_gif.gif" alt="noteapp_final">
                  </div>
                </div>
                <div class="phase">
                <iframe src="https://codesandbox.io/embed/note-taking-app-4miyh?fontsize=14&amp;hidenavigation=1&amp;theme=dark" style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;" title="Note-taking App" allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking" sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"></iframe> -->
                <!-- </div> -->

                    <div class="phase row aos-init" data-aos="fade-up" data-aos-duration="1000">
                        <buttom class="preview"><a href="http://www.sweetpomona.com/" target="_blank" class="preview-link">Live Preview >></a></buttom>
                    </div>

              </section>


            <footer class="footer">
                <div class="footer-content aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                  <h1> Let's Connect! </h1>
                  <p>If your're interested in working with me, please feel free to reach out to me at</p>
                  <a href="mailto://hiyoung.kimmy@gmail.com"><span class="highlight">hiyoung.kimmy@gmail.com</span></a>
                    
                    <ul class="footer-link">
                      <li>
                        <a href="https://www.instagram.com/hykimmmm/">
                          <i class="fab fa-instagram">
                          </i>
                        </a>
                      </li>
                      <li>
                        <a href="https://github.com/Kimmyyoung">
                          <i class="fab fa-github">
                          </i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/in/kimmy-kim-119b21208/">
                          <i class="fab fa-linkedin-in">
                          </i>
                        </a>
                      </li>
                    </ul>
                  
                </div>
              </footer>

            </div>

  </div>

<script type="module" src="js/app.js"></script>
<script>AOS.init();</script>
</body>
</html>