<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>Kimmy Portfolio</title>
    <!-- scss -->
    <link rel="Stylesheet" href="css/style.css"/>
    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- script -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- ASOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/b0671e4f35.js" crossorigin="anonymous"></script>
  </head>

  <body class="text-center body">
    <div class="cursor" id="cursor"></div>
    <div class="d-flex flex-column">

        <nav class="navbar">
              <div class="logo">
                <h1 class="float-md-start mb-0">KIMMY <span>kim</span></h1>
              </div>
              <ul class="nav nav-items nav-masthead justify-content-center float-md-end">
                <li class="nav-link active" aria-current="page"><a href="../index.html">Home</a></li>
                <li class="nav-link"><a href="work.html">Work</a></li>
                <li class="nav-link"><a href="about.html">About</a></li>
              </ul>  
              
            <div class="hamburger">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>

        </nav>
        

                    <section class="work-title">
                        <h1 class="lg-heading underline">WORK</h1>
                    </section>

                    <section class="filter">
                      <div class="work-btn-menu">
                        <button class="work-btn work-active" data-filter="all" id="all">Show All</button>
                        <button class="work-btn" data-filter="development" id="development">Development</button>
                        <button class="work-btn" data-filter="design" id="design">Design</button>
                      </div>
                        <div class="spacer"></div>
                    </section>
               
                    <section class="work-card p-2 w-100">

                      <div id="parent">

                           <!-- Twitter Website -->

                           <div class="col-lg-4 col-md-3 col-sm-12 box box5 all development">      
                            <a href="twitterproject.html" class="overlay-contents">     
                              <div class="work-overlay">
                                  <div class="work-details fadeIn-left">
                                    <div class="overlay-title">
                                      <h3>Twitter</h3>
                                    </div>
                                    <div class="overlay-tools">
                                      <p>React | HTML5 | CSS</p>
                                    </div>   
                                  </div>
                                </div>
                            </a>
                          </div>



                        <!-- Portfolio Project -->

                        <div class="col-lg-4 col-md-3 col-sm-12 box box2 all development">      
                          <a href="portfolioproject.html" class="overlay-contents">     
                            <div class="work-overlay">
                                <div class="work-details fadeIn-left">
                                  <div class="overlay-title">
                                    <h3>Portfolio Website</h3>
                                  </div>
                                  <div class="overlay-tools">
                                    <p>HTML5 | CSS | Javascript | jQuery</p>
                                  </div>   
                                </div>
                              </div>
                          </a>
                        </div>



                        <!-- Ecopaccanada Project  -->

                        <div class="col-lg-4 col-md-3 col-sm-12 box box1 all development">         
                          <a href="ecopacproject.html" class="overlay-contents">     
                            <div class="work-overlay"></div>
                                <div class="work-details fadeIn-left">
                                  <div class="overlay-title">
                                    <h3>E-commerce Website</h3>
                                  </div>
                                  <div class="overlay-tools">
                                    <p>Wordpress | HTML5 & CSS</p>
                                  </div>   
                                </div>
                          </a>
                        </div>

                         <!-- hotchi package design -->

                         <div class="col-lg-4 col-md-3 col-sm-12 box box6 all design">      
                          <a href="Hotchiproject.html" class="overlay-contents">     
                            <div class="work-overlay">
                                <div class="work-details fadeIn-left">
                                  <div class="overlay-title">
                                    <h3>HOTCHI Packaging Design</h3>
                                  </div>
                                  <div class="overlay-tools">
                                    <p>Adobe Illustrator CS6 | Photoshop CS6</p>
                                  </div>   
                                </div>
                              </div>
                          </a>
                        </div>


                         
                        <!-- kimmyblog Project -->

                        <div class="col-lg-4 col-md-3 col-sm-12 box box3 all development">      
                          <a href="blogproject.html" class="overlay-contents">     
                            <div class="work-overlay">
                                <div class="work-details fadeIn-left">
                                  <div class="overlay-title">
                                    <h3>Kimmy Blog</h3>
                                  </div>
                                  <div class="overlay-tools">
                                    <p>Node.js | MongoDB | Javascript</p>
                                  </div>   
                                </div>
                              </div>
                          </a>
                        </div>



                          <!-- Digital Creatives -->
                        

                          <div class="col-lg-4 col-md-3 col-sm-12 box box4 all design">      
                            <a href="digitalcreatives.html" class="overlay-contents">     
                              <div class="work-overlay">
                                  <div class="work-details fadeIn-left">
                                    <div class="overlay-title">
                                      <h3>Digital Creatives</h3>
                                    </div>
                                    <div class="overlay-tools">
                                      <p>Adobe Premier Pro | Illustrator CS6 | Photoshop CS6</p>
                                    </div>   
                                  </div>
                                </div>
                            </a>
                          </div>


                       

                         


                      </div>
                      
                    </section>
                

                    <footer class="footer">
                      <div class="footer-content aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                        <h1> Let's Connect! </h1>
                        <p>If your're interested in working with me, <br/> please feel free to reach out to me at</p>
                        <a href="mailto://hiyoung.kimmy@gmail.com"><span class="highlight">hiyoung.kimmy@gmail.com</span></a>
                          
                          <ul class="footer-link">
                            <li>
                              <a href="">
                                <i class="fab fa-instagram">
                                </i>
                              </a>
                            </li>
                            <li>
                              <a href="https://github.com/Kimmyyoung">
                                <i class="fab fa-github">
                                </i>
                              </a>
                            </li>
                            <li>
                              <a href="https://www.linkedin.com/in/kimmy-kim/links-btn">
                                <i class="fab fa-linkedin-in">
                                </i>
                              </a>
                            </li>
                          </ul>
                        
                      </div>
                    </footer>
      
        </div>
         
    <script src="js/app.js"></script>
    <script src="js/work.js"></script>

    <script>AOS.init();</script>
</body>
</html>
