:root {
  --blue: #1b2b65;
  --orange: #f47731;  
  --main-color: #ABA1FF;
  --main-color-dark: #675FB2;
  --ray-color: #FFD6BB;
  --spark-color: #70B268;
  --back-color: #2f2e4e;
  --white-color: #fff;
  --black-color: #000;
}

// font
@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Light'), local('TTFirsNeue-Light'),
    url('../fonts/TTFirsNeue-Light.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Regular'), local('TTFirsNeue-Regular'),
    url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


html{
  scroll-behavior: smooth;
  width: 100vw;
}


body{
  background: radial-gradient(var(--back-color), var(--back-color), var(--main-color-dark));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  margin-left: -1%;
  font-family: 'TT Firs Neue', Arial, sans-serif;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



body:after {
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.2;
  filter: invert(1);
  background-size: cover;
}

//-------------- Mouse Cursor --------------------
.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}

.link-grow{
  transform: scale(2);
  border: 10px solid var(--orange);
  border-radius: 50%;
  //background-color: var(--orange);
  z-index: 3;
}


.link-grow-2{
  transform: scale(2);
  border: 10px solid var(--blue);
  border-radius: 50%;
  z-index: 3;
}

.link-grow-3{
  transform: scale(2);
  border: 10px solid var(--white-color);
  border-radius: 50%;
  z-index: 3;
}


/* -------------------- Header (for All Page)  ------------------- */

header{
  display:flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  min-height: 8vh;
  padding: 0.5rem 3rem;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

//header-logo

.float-md-start {
  font-size: 1.5rem;
  margin-top: 1%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--white-color);
}

//nav bar
nav{
  position: fixed !important;
  display: flex;
  background-color: var(--back-color);
  z-index: 2;
  top: 0px;
  width: 100%;
  min-height: 8vh;
  padding: 0.5rem 3rem;
  align-items: center;
  justify-content: space-around;
  // box-shadow: 0 1px 10px 2px rgba(0,0,0,0.2);
}

nav span{
  font-weight: 200;
  text-transform: uppercase;
}

nav a{
  text-decoration: none;
  color: var(--white-color) !important;
}

nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav a:hover:after{
  width: 100%; 
  left: 0; 
}

.navbar ul{
  color: var(--white-color) !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start : 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.navbar li {
  display: list-item;
  position: relative;
  text-decoration: none;
  color: var(--white-color);
}

.nav-link{
  list-style: none;
  color: var(--white-color) !important; 
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.nav-link:before {
  content: "";
  position: absolute;
  height: 2px;
  color: var(--white-color) !important;
  background: var(--white-color);
  bottom: -4px;
  right: 0;
  width: 0%;
  transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}


.hamburger {
  cursor:pointer;
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10%;
}

.hamburger .line {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--orange);
  transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
  -webkit-transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
  -ms-transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
}

.line1 {
  top: 18%;
}

.line2 {
  top: 48%;
}

.line3 {
  top: 78%;
}

.hamburger.close .line1 {
  transform: rotate(45deg);
  top: 48%;
}

.hamburger.close .line2 , .hamburger.close .line3 {
  transform: rotate(-45deg);
  top: 48%;
}
.scroll-nav {
  box-shadow: 0 1px 10px 2px rgba(0,0,0,0.2);
}






/* -------------------------- Hero Section -------------------- */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% 0% 0% 0%;
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
}

.hero__title {
  color: var(--white-color);
  text-align: center;
  line-height: 1000em;
  max-width: 1400px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 60px;
  line-height: 4rem;
  letter-spacing: 0.1em;
}


.hero-ratate-section{
  align-items: left;
  position : relative;
  text-align: center;
  font-size: 3.5em;
  color: var(--white-color);
  font-weight:600;
  padding-top: 3%;
}

.txt-rotate {
  color: var(--orange);
}

.hero_cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: var(--white-color);
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}



/* ----------------- featured-work section ---------------*/
.featured-title h2{
  color: var(--white-color);
  text-align: center;
  line-height: 1000em;
  max-width: 1400px;
  margin : 15% 0% 5% 0%;
  font-weight: 700;
  font-size: 40px;
  line-height: 4rem;
  letter-spacing: 0.1em; 
}


.featured-card{
  align-items: center;
  background-color: var(--orange);
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  width: 100vw;
  font-family: 'Poppins', sans-serif;

  & .third {
    margin-bottom: 5%;
  }

}

.featured {
  display: flex;
  position: relative;
  width: 900px;
  height: 300px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  margin: 3% 0% 0% 0%;
}


.featured-profile-img {
  height: 100%;
  margin-left: -3%;
  //width: 800px;
}

.featured-description-bk {
  background-color: var(--white-color);
  border-radius: 30px;
  position: absolute;
  top: 0%;
  left: 40%;
  height: 100%;
  width: 108%;
  //transform: skew(19deg, -9deg);
}

.second .featured-description-bk {
  background-image: linear-gradient(-20deg , #bb7413, #e7d25c)
}

.featured-logo {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  background-color: var(--black-color);
  position: absolute;
  bottom: 40%;
  left: 35%;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.featured-logo img {
  height: 100%;
}

.featured-description {
  position: absolute;
  color: var(--black-color);
  font-weight: 1000;
  font-size:2rem;
  left: 55%;
  bottom: 0%;
  top: 30%;
  }

  
.featured-description p{
  padding-bottom: 1rem;
  }


.featured-description-title{
  font-size: 1rem;
  font-weight: 200;
  display: block;
  margin-bottom: -5%;
  letter-spacing: 0.1rem;
}

.featured-description h1{
  font-size:2rem;
  text-align:center;
  margin-top: 8px;
  margin-bottom: 20px;
  color : var(--black-color);
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.featured-btn {
  text-transform: uppercase;
  letter-spacing: 3%;
  width:250px;
  height: 45px;
  border: none;
  border-radius: 50px;
  position: absolute;
  right: 15%;
  bottom: 23%;
  padding: 10px 20px;
  background-color: var(--orange); 
  color: var(--white-color);

}

.featured-btn a {
  color: var(--white-color) !important;
  font-weight: 400;
  text-decoration: none;
}


.featured-date {
  position: absolute;
  color: grey;
  left: 85%;
  bottom: 1%;
}


/* ------------- Footer (for All Page) ---------------*/

.footer {
  height: 40vh;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 10% 40%;
  margin : 3% 0%;
}

.footer h1{
  font-weight: 700;
}

.footer-content{
  font-size: 0.9rem;
  text-align: center;
}

.footer-content a{
  text-decoration: none;
}

.highlight {
  color : var(--orange) !important;
  font-weight: 700;
  font-size: 1.2rem;
}

.fab{
  font-weight: 400;
  display: inline-block;
  color: var(--white-color) !important;
  font-size: 30px;
}

.footer-link {
  margin-block-start : 1em;
  margin-block-end : 1em;
  margin-left: 28%;
}

.footer-link li{
  display: list-item;
  text-align: center;
  list-style-type: none;
  float: left;
  margin-left:20px;
  align-items: center;
}



/*-----------Work Page ----------------------*/



.work-title{
  margin-top: 10%;
  text-transform: uppercase;
}

.lg-heading{
  color: var(--white-color);
  line-height: 1000em;
  font-weight: 800;
  font-size: 40px;
  line-height: 4rem;
  letter-spacing: 0.1em; 
}


.filter{
  margin-top:5%;
  width:100vw;
  align-items: center;
}


.work-btn {
  border: solid 1px var(--orange);
  border-radius: 10%;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: var(--orange);
  padding: 0.5rem 0.2rem;
  margin: 0 0.5rem;
  width: 250px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 20px;
}

.work-active {
  border: solid 1px var(--orange);
  border-radius: 10%;
  background-color: var(--orange);
  font-family: 'Poppins', sans-serif;
  color: var(--white-color);
  padding: 0.5rem 0.2rem;
  margin: 0 0.5rem;
  width: 250px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 20px;
  transform: translateY(-7px);
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.73);
}

//  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.73);



.work-card {
  align-items: center;
  background-color: var(--orange);
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  display: block;
  
}

#parent{
  align-items: center;
  padding: 5%;
}

.box {
  background-color:var(--white-color);  
  width: 100vw;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 20px;
  display:inline-block;
  padding: 2%;
  transition: all 0.5s;
}

.box1{
  background: url("https://i.ibb.co/XxSH0Vd/ecopac-workcard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box2{
  background: url("https://i.ibb.co/gWFmk5W/portfolio-workcard.png") ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box3{
  background: url("https://i.ibb.co/hVqy05x/kimmyblog-workcard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box4{
  background: url("https://i.ibb.co/y8h7p4Z/digitalcreatives-workcard.png") ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box5{
  background: url("https://i.ibb.co/Fb3dxc7/sweetpomona-workcard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box6{
  background: url("https://i.ibb.co/LtJpjLW/graphicdesign-workcard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



.overlay-contents{
  text-decoration: none;
}

.overlay-title{
  text-decoration: none;
  color: var(white);
  letter-spacing: 2px;
  line-height: 40px;
  opacity: 0;
  transform : translateY(40px);
  transition: all 0.7s;
  margin: 23% 0% 3% 0%;

  & h3{
    font-size: 40px;
    font-weight: 600;
    //text-shadow: 0px 1px 1px #DDEEFF;  
  }
}

.overlay-tools{
  text-decoration: none;
  color: var(--white-color);
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  margin: 5% 0% 3% 0%;

  & p{
    letter-spacing: 4px;
    font-size: 15px;
    line-height: auto;
    font-weight: 200;
  }

}

.box:hover {
  opacity: 1;  
  background: rgba(0,0,0,0.7);
  border-radius: 15px;
  background-size: auto;
  & .overlay-title{
    transform: translateY(0px);
    opacity: 1;
  }
  
  & .overlay-tools{
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }

}



.spacer {
  clear: both;
  height: 60px;
}


/*------------ About Page ------------------*/
.about-intro{
  padding: 10rem 10rem 0 rem 10rem;
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin: 10% 0% 10% 0%; 
 
  & .about-intro h1{
    text-align: center;
    margin-bottom: 2rem;
  }
}

.about-work-table td{
     width: 600px;
     height: 60px;
     border-bottom: white 2px solid;
     //border:#000 1px solid;
 }



.about-card {
  align-items: center;
  background-color: var(--orange);
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  width:100vw;
  font-family: 'Poppins', sans-serif;
  display: block;
  color: var(--white-color);
  
  & h1{
    color: var(--blue) !important;
    font-weight: 800;
    font-size: 3rem;
    text-shadow: 0px 3px 3px #DDEEFF;  
  }
  & p{
    text-align: left;
    line-height: 1.5;
    margin: 10% 5% 5% 0%;
    letter-spacing: 0.8px;
    font-size: 1rem;
  }
  & a {
    text-decoration: none;
    color: var(--blue);
    font-weight: 700;
  }
  & .about-img{
    width: 500px;
    height : 625px;
    margin-left: 20%;
  }
  & .about-links li {
    list-style-type: none;
    float: left;
    margin-left: 20px;  
  }
  & .about-links li :hover {
    transform: scale(1);
  }
  & .links-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: var(--white-color);
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    overflow: hidden;
    position: relative;
  }
  & .links-btn i{
    line-height: 50px;
    margin-left: 24%;
    transition: 0.2s linear;
    color:var(--orange) !important;
  }
  & .links-btn:hover i {
    transform: scale(1.3);
    color: var(--white-color) !important;
  }
  & .links-btn::before {
      content: "";
      position: absolute;
      width: 120%;
      height: 120%;
      background: var(--blue);
      transform: rotate(45deg);
      left: -110%;
      top: 90%;
    }
  & .links-btn:hover::before {
      animation: aaa 0.7s 1;
      top: -10%;
      left: -10%;
  }
}

@keyframes aaa {
	0% {
		left: -110%;
		top: 90%;
	}
	50% {
		left: 10%;
		top: -30%;
	}
	100% {
		top: -10%;
		left: -10%;
	}
}


/*---------Project Page ------------------*/

.project{
  font-family: 'Poppins', sans-serif;
}

.project-info {
  padding: 6rem 10rem 6rem 10rem;
  text-align: left;
  color: var(--white-color);
  margin: 4rem -1rem 0rem -1rem;
  background-color: var(--orange);

  & .project-overview-card {
    display:flex;
    justify-content: space-between;
    margin-top: 3rem;
  }

  & .project-cat {
    color: var(--white-color);
    letter-spacing: 1.8px;
  }

  & .project-overview p{
    margin-top : 1rem;
  }
  
  & .sm-heading {
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  
  & .project-info-detail{
    margin-top: 5rem; 
  }

  & .content{
    margin-top: 1.5rem;
    letter-spacing: 1px;
  } 

  & .info-detail {
    display: flex;
    flex-direction: column;
    border-left: solid 3px var(--white-color);
  }
}

.portfolio-thumb {
  background-image: url("/views/img/Portfolio-mockup.jpg");
  min-height: 600px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}

.ecopac-thumb{
  background-image: url("/views/img/ecopac-thumb.jpg");
  min-height: 600px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}

.blog-thumb{
  background-image: url("/views/img/blog-mockup.jpg");
  min-height: 600px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}

.sweetpomona-thumb{
  background-image: url("/views/img/sweetpomona-mockup.jpg");
  min-height: 600px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}

.hotchi-thumb{
  background-image: url("/views/img/hotchi-mockup.jpg");
  min-height: 600px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}




//project-detail section


.project-detail {
  padding: 6rem 10rem 6rem 10rem;
  background-color: var(--white-color);
  color: var(--black-color) !important;
  text-align: left;
  margin: 0rem -1rem 0rem -1rem;
  

  & .phase{
    padding: 0rem 0rem 3rem 0rem;
    display: flex;
    justify-content: center;
  }
  & .phase-img{
    width: auto;
    max-width: 800px;
  }
  & .phase-img :hover {
    transform: scale(1.05);
    transition-duration: all 1s;
  }
  & .content-2{
    text-align: right !important;
  }
  & .phase h1{
    color: var(--orange) !important;
    margin-bottom: 2.5rem;
    font-size: 3rem;
  }
  
  & .phase-num{
    color : var(--blue);
    font-size: 3rem;
    font-weight: 800;
  }
  & .preview{
    background: var(--orange);
    border-radius: 20px;
    width: 180px;
    color: white;
    padding: 10px 20px 10px 20px;
    position: relative;
    align-content: center;
    letter-spacing: 1px;
  }
  & .preview-link {
    text-decoration: none;
    color: white;
  }
 
}

.preview:hover {
  transform: scaleX(1);
}



/*--------------Loading Page -------------- */

#lastray{
  margin: auto;
  border-radius: 100%;
  border: 0px solid;
  border-color: var(--ray-color);
  opacity: 1;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
#loading-page{
  background: var(--back-color);
  border-radius: 100%;
  top:50%;
  left: 50vw;
  transform: translate(-50%,-50%);
  width: 400vh;
  height: 400vh;
  position: fixed;
  overflow: hidden;
  transition-duration: 1s;
}
#loader{
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 200px;
  position: absolute;
  max-height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
}
.element{
  margin: auto;
  position: absolute;
}
.sphere{
  background: radial-gradient(circle, var(--main-color), var(--main-color-dark));
  width: 50px;
  height: 50px;
  border-radius: 100%;
  animation: pump 4s infinite ease-in-out;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 15px 0px rgba(200, 230, 255, 0.5);
}
.ray{
  margin: auto;
  border-radius: 100%;
  border: 5px solid;
  border-color: var(--ray-color);
  opacity: 1;
  width: 10px;
  height: 10px;
  animation: ray 1s infinite ease-out;
  animation-delay: 1s;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 15px 0px rgba(255, 230, 200, 0.5);
}
.spark{
  width: 200px;
  height: 200px;
}
.particles{
  transform: translate(-50%, -50%);
}
.particle{
  background-color: var(--spark-color);
  width:5px;
  height:5px;
  border-radius: 100%;
  opacity: 0;
  animation: particle 1s infinite ease-in;
  left: 0%;
  top: 0%;
}
.spark1{transform: rotate(20deg);}
.spark2{transform: rotate(40deg);}
.spark3{transform: rotate(66deg);}
.spark4{transform: rotate(172deg);}
.spark5{transform: rotate(110deg);}
.spark6{transform: rotate(130deg);}
.spark7{transform: rotate(-100deg);}
.spark8{transform: rotate(-50deg);}
.spark9{transform: rotate(-80deg);}
.spark10{transform: rotate(-173deg);}
.spark11{transform: rotate(-7deg);}
.spark12{transform: rotate(-133deg);}

.particle1{animation-delay: .5s;}
.particle2{animation-delay: 0s;}
.particle3{animation-delay: 2.2s;}
.particle4{animation-delay: .2s;}
.particle5{animation-delay: 2s;}
.particle6{animation-delay: 1.2s;}
.particle7{animation-delay: 2.5s;}
.particle8{animation-delay: 1.5s;}
.particle9{animation-delay: 1s;}
.particle10{animation-delay: 2.5s;}
.particle11{animation-delay: .7s;}
.particle12{animation-delay: 1.7s;}

.loaded{
  width: 0px !important;
  height: 0px !important;
  transition: 1.2s ease-out;
}
.whitebk{
  background: var(--white-color)!important;
}
.opzero{
  opacity: 0;
  transition: 0.5s ease-out;
}
.finalray{
  animation: ray 1s ease-out;
  animation-delay: .3s;
  border: 1px solid;
}


/*ANIMATIONS*/
@keyframes pump {
    0% {width: 50px; height: 50px;}
    83% {width: 88px; height: 88px;}
    85% {width: 90px; height: 90px;}
    100% {width: 50px; height: 50px;}
}
@keyframes ray {
    0% {width: 10px; height: 10px; opacity: 1; border-width: 1px;}
    100% {width: 200px; height: 200px; opacity: 0; border-width: 5px;}
}
@keyframes particle {
    0% {left:0%; top:0%; opacity: 0;}
    70% {opacity: 1;}
    100% {left:50%; top:50%; opacity: 1;}
}




/*-----------------------Responsive Page---------------------------------------- */
@media (min-width: 900px) and (max-width: 990px) {
 

  .info-detail{
    padding: 1rem 0rem 0rem 1rem;
  }

  .phase{
    width: 100% !important;

    & .phase-content{
      width: 100% !important;
      margin: 1rem;
    }
   }


   .box{
    height: 200px !important;
   }
}

@media screen and (max-width: 900px){


  .featured-logo {
    display: none;
  }

  .featured {
    width: 600px;

      & .featured-profile-img {
        width: 350px;
        margin-left: 0%;
      }
      & .featured-profile-img img {
        width:100%;
        object-fit: cover;
      }
      & .featured-description {
        width: 350px;
        align-items: center;
        padding-left: 20px;
        & p{
          //text-align: center;
          font-size: 0.8rem;
        }
        & h1 {
          font-size: 1.7rem;
        }
      }
      & .featured-date{
       display: none;        
      }
      & .featured-btn {
        text-transform: uppercase;
        letter-spacing: 3%;
        align-items: center;
        top: 85%;
        align-items: center;
        width: 150px;
        font-weight: 300;
        font-size: 0.8rem;
      }
  
  }  
  // --------------- Work Page (Responsive) : Maximum - 900px Start ------------------
  .work-title{
    align-items: center;
    margin-left: 2%;
    margin-top: 20%;
  }
  .work-btn {
    width: 700px;
    margin-bottom: 10px;
  }
  .work-card{
    margin-left:-1%;
    display: flex;
    justify-content: center;
  } 

 

 // --------------- Work Page (Responsive) : Maximum - 900px End ------------------

 // --------------- About Me Page ----------------------------------------
    .about-intro h1 {
      margin: 10% 0% 10% 0%;
    }
 
    .about-details{
      margin: 0;
      width: 100% !important;
      margin-bottom: 10% !important;
    }
    .about-details-img {
      width: 100% !important;
      margin: 0 !important;
    }
    .about-img{
      width: 100% !important;
    }


    //------------- Project Page --------------------
    
    .info-detail{
      padding: 1rem 0rem 0rem 1rem;
    }

    .phase{
      width: 100% !important;

      & .phase-content{
        width: 100% !important;
        margin: 1rem;
      }
     }


}

@media (min-width: 800px) and (max-width: 900px) {
  .work-title {
    align-items: center;
    margin-top: 20%;
  }
  .work-btn {
    width: 700px;
    margin-bottom: 2%;
  }
  .work-card{
    margin-left:-1%;
    display: flex;
    justify-content: center;
  } 

  .box{
    height: 200px !important;
  }

    
  .featured {
    flex-direction: column;
    width: 600px;
    height: 800px;
    
    & .featured-profile-img {
      width : 600px;
      height: 600px;
    }
    & .featured-description-bk{
      width: 600px;
      height: 400px;
      top: 60%;
      left : 0%;
      width: 100%;
    }
    & .featured-description {
      width : 400px;
      height: 300px;
      top: 70%;
      left: 0%;
      width: 100%;
    }
    & .featured-description h1{
      font-size: 2.5rem;
      margin-bottom: 0.5%;
    }
    & .featured-description p{
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 0.5%;
    }
    & .featured-btn{
      text-transform: uppercase;
      letter-spacing: 3%;
      margin-top: 3%;
      width: 400px;
      left: 18%;
      font-size: 2vw;
    }

    // ---------- About Me Page ----------------
    .about-card{
      margin : 0% !important;
      & .about-img{
        margin: 0% !important;
        width: 100% !important;
      }
  
    }
    .about-details{
      margin: 0;
      width: 100% !important;
      margin-bottom: 10% !important;
    }
    .about-details-img {
      width: 100% !important;
      margin: 0 !important;
    }
    .about-img{
      margin: 0 !important;
      width: 100% !important;
    }


  }

  // ---------- About Me Page ----------------
  .about-details{
    margin: 0;
    max-width: 400px;
    width : 100%;
  }
  .about-img {
    max-width: 400px;
  }

  .about-intro h1 {
    margin: 10% 0% 10% 0%;
  }




}


@media (min-width: 501px) and (max-width: 800px){

  nav {
    //justify-content: space-between;
    & .logo {
      width: fit-content;
    }
    & .nav-items {
      position: absolute;
      background: #f47731;
      right: 0px;
      height: 100vh;
      left: -4%;
      top: 84px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: screen;
      transform: translateX(100%);
      transition: transform 0.5s ease;
    }

    & .nav-active {
      transform: translateX(0%);
    }
  
    & .nav-items li {
      margin-bottom: 3rem;
      font-size: 1.3rem;
    }
    & .nav-items a:hover {
      color: var(--white-color);
    }
    & .nav-items a.active {
      color: var(--white-color);
    }
    & .nav-items a.active:hover {
      color: var(--orange);
    }
    & .nav-link:hover:before {
      left: 0;
      width: 100%;
      color: var(--blue);
    }
    & .nav-masthead .active {
      color: var(--white-color);
      border-bottom-color: var(--white-color);
    }
 }

 .hamburger {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 0%;
  }

  .featured {
    flex-direction: column;
    width: 400px;
    height: 600px;

    & .featured-profile-img {
      width : 400px;
      height: 400px;
    }
    & .featured-description-bk{
      width: 400px;
      height: 300px;
      top: 60%;
      left : 0%;
      width: 100%;
    }
    & .featured-description {
      width : 400px;
      height: 300px;
      top: 70%;
      left: 0%;
      width: 100%;
    }
    & .featured-description h1{
      font-size: 1.4rem;
    }
    & .featured-description p{
      text-align: center;
      margin-bottom: 1%;
    }
    & .featured-btn {
      width: 300px;
      margin: 5%;
      left: 8%;
    }
  }

  // ------------------ Work Page Start (Responsive) --------------
  .work-title{
    align-items: center;
    margin-top: 20%;
  }
  .work-btn {
    width: 500px;
    margin-bottom: 10px;
  }
  .work-card{
    display: flex;
    justify-content: center;
  }

    // ------------------ Work Page End (Responsive) --------------

  .info-row2 {
    flex-direction: column;
  }

  .info-detail .sm-heading {
    margin-bottom: 0.5rem;
  }
  
  .info-detail .content {
    margin-bottom: 2rem;
  }


  
  // ----------------------- About Me Page -------------------------

  .about-intro h1{
    margin: 10% 0% 10% 0%;
  }
  .about-card {
    margin-top: 5% !important;
  }
  .about-details{
    margin: 8% !important;
    width : 90% !important;
  }
  .about-img {
    align-items: center !important;
    margin : 8% !important;
    width : 90% !important;
  }


  
   //------------- Project Page --------------------
    .project-detail{
      justify-content: center;
      padding: 2rem;
    } 

    .info-detail{
      padding: 1rem 0rem 0rem 1rem;
    }

    .phase{
      width: 100% !important;

      & .phase-content{
        width: 100% !important;
        margin: 1rem;
      }
     }
  

}

@media screen and (min-width: 350px) and (max-width: 500px){
  
  nav {
    justify-content: space-between;

    & .nav-items {
      position: absolute;
      background: #f47731;
      right: 0px;
      height: 100vh;
      top: 84px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease;
    }

    & .nav-active {
      transform: translateX(0%);
    }
  
    & .nav-items li {
      margin-bottom: 3rem;
      font-size: 1.3rem;
      text-align: center;
    }
    & .nav-items a:hover {
      color: var(--white-color);
    }
    & .nav-items a.active {
      color: var(--white-color);
    }
    & .nav-items a.active:hover {
      color: var(--orange);
    }
    & .nav-link:hover:before {
      left: 0;
      width: 100%;
      color: var(--blue);
    }
    & .nav-masthead .active {
      color: var(--white-color);
      border-bottom-color: var(--white-color);
    }
 }

 .hamburger {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  }


  
  .featured-card {
    & .featured-title h2{
      margin: 8% 0% 5% 0%;
      font-size: 2rem;
    }
    
    
    & .featured {
      flex-direction: column;
      width: 300px;
      height: 400px;
      margin-bottom: 2%;
    }

    & .third {
      margin-bottom : 10%;
    }
    & .featured-profile-img {
      width : 300px;
      height: 300px;
    }
    & .featured-description-bk{
      width: 300px;
      height: 500px;
      top: 60%;
      left : 0%;

    }

    & .featured-description {
      width : 200px;
      height: 100px;
      top: 70%;
      left: 13%;
    }
    & .featured-description h1{
      font-size: 1rem;
      align-items: center;
    }
    & .featured-description P{
      font-size: 0.5rem;
      text-align : center;
    }

    & .featured-btn {
      text-transform: uppercase;
      letter-spacing: 3%;
      top: 84%;
      left: 17%;
      width: 200px;
      height: 40px;
      margin-bottom: 15%;
    }
  
  }

// ------------------ Work Page (Responsive) : 350px - 500px ---------------
    .work-title{
      align-items: center;
      margin-top: 20%;
    }
    .work-btn {
      width: 300px;
      margin-bottom: 10px;
    }
    .work-card{
      display: flex;
      justify-content: center;
      padding: 10% 30%;
    }


// ---------------- Footer Section (Responsive) : 350px - 500px --------------

  .footer {
    margin-top : 2%;

    h1 {
      font-size: 2rem;
    }
    p {
      display: none;
    }
    a {
      font-size: 1.5rem;
    }
    & .footer-link {
      margin-left:2.5rem;
    }
  }
  
  
  .info-row2 {
    flex-direction: column;
  }

  .info-detail .sm-heading {
    margin-bottom: 0.5rem;
  }
  
  .info-detail .content {
    margin-bottom: 2rem;
  }


  .about-text {
    max-width: 400px;
  }

  .about-img {
    max-width: 400px;
  }

  //600px
  .project-info {
    padding: 10rem 4rem 6rem 4rem;
  }

  .header h1 {
    font-size: 3rem;
  }

  .underline:after {
    top: 45px;
  }

  .featured-work {
    width: 300px;
    height: 500px;
  }

  .featured-work .work-img {
    width: 300px;
    height: 300px;
  }

  .featured-work .work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .featured-work .work-info {
    width: 100%;
    height: 100%;
  }


  .phase {
    padding: 5rem 4rem 3rem 4rem;
  }
  .phase-img {
    padding: 0rem;
  }

  .footer p {
    font-size: 0.8rem;
  }


    //-------------------- Abount Me Page ----------------------
    .about-intro h1{
      margin: 20% 0% 10% 0%;
    }
    .about-card {
      margin-top: 5% !important;
    }
    .about-details{
      margin: 5% !important;
      width : 90% !important;
      max-width: 500px !important;
    }
    .about-img {
      align-items: center !important;
      margin : 5% !important;
      width : 90% !important;
      max-width: 500px !important;
    }


    //------------------ Project Page ------------------------

    .project-detail{
      justify-content: center;
      padding: 2rem;
    } 

    .info-detail{
      padding: 1rem 0rem 0rem 1rem;
    }

    .phase{
      width: 100% !important;

      & .phase-img {
        width: 100% !important;
      }
      & .phase-img img{
        width: 100% !important;
      }
      & .phase-content{
        width: 100% !important;
        margin: 1rem;
      }
     }
  

}
