@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --blue: #1b2b65;
  --orange: #f47731;
  --main-color: #ABA1FF;
  --main-color-dark: #675FB2;
  --ray-color: #FFD6BB;
  --spark-color: #70B268;
  --back-color: #2f2e4e;
  --white-color: #fff;
  --black-color: #000;
}

@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue Light"), local("TTFirsNeue-Light"), url("../fonts/TTFirsNeue-Light.woff2") format("woff2"), url("../fonts/TTFirsNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue Regular"), local("TTFirsNeue-Regular"), url("../fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("../fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  background: radial-gradient(var(--back-color), var(--back-color), var(--main-color-dark));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  margin-left: -1%;
  font-family: "TT Firs Neue", Arial, sans-serif;
}

body:after {
  content: "";
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.2;
  filter: invert(1);
  background-size: cover;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}

.link-grow {
  transform: scale(2);
  border: 10px solid var(--orange);
  border-radius: 50%;
  z-index: 3;
}

.link-grow-2 {
  transform: scale(2);
  border: 10px solid var(--blue);
  border-radius: 50%;
  z-index: 3;
}

.link-grow-3 {
  transform: scale(2);
  border: 10px solid var(--white-color);
  border-radius: 50%;
  z-index: 3;
}

/* -------------------- Header (for All Page)  ------------------- */
header {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  min-height: 8vh;
  padding: 0.5rem 3rem;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

nav {
  position: fixed !important;
  display: flex;
  background-color: var(--back-color);
  z-index: 2;
  top: 0px;
  width: 100%;
  min-height: 8vh;
  padding: 0.5rem 3rem;
  align-items: center;
  justify-content: space-around;
}
nav .float-md-start {
  font-size: 1.5rem;
  margin-top: 1%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--white-color);
}
nav span {
  font-weight: 200;
  text-transform: uppercase;
}
nav a {
  text-decoration: none;
  color: var(--white-color) !important;
}
nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover:after {
  width: 100%;
  left: 0;
}
nav ul {
  color: var(--white-color) !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
nav li {
  display: list-item;
  position: relative;
  text-decoration: none;
  list-style: none;
  color: var(--white-color) !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.hamburger {
  cursor: pointer;
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10%;
}
.hamburger .line {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--orange);
  transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
  -webkit-transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
  -ms-transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
}
.hamburger .line1 {
  top: 18%;
}
.hamburger .line2 {
  top: 48%;
}
.hamburger .line3 {
  top: 78%;
}
.hamburger .close .line1 .line2 .line3 {
  transform: rotate(45deg);
  top: 48%;
}

/* -------------------------- Hero Section -------------------- */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% 0% 0% 0%;
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
}
.hero .hero__title {
  color: var(--white-color);
  text-align: center;
  line-height: 1000em;
  max-width: 1400px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 60px;
  line-height: 4rem;
  letter-spacing: 0.1em;
}
.hero .hero-ratate-section {
  align-items: left;
  position: relative;
  text-align: center;
  font-size: 3.5em;
  color: var(--white-color);
  font-weight: 600;
  padding-top: 3%;
}
.hero .txt-rotate {
  color: var(--orange);
}

.hero_cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: var(--white-color);
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}

/* ----------------- featured-work section ---------------*/
.featured-card {
  align-items: center;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}
.featured-card .third {
  margin-bottom: 5%;
}
.featured-card .featured-title h2 {
  color: var(--white-color);
  text-align: center;
  line-height: 1000em;
  max-width: 1400px;
  margin: 15% 0% 5% 0%;
  font-weight: 700;
  font-size: 40px;
  line-height: 4rem;
  letter-spacing: 0.1em;
}

.featured {
  display: flex;
  position: relative;
  width: 900px;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  margin: 3% 0% 0% 0%;
}
.featured div {
  display: block;
  align-items: center;
  margin-left: 5%;
}
.featured .featured-date {
  position: absolute;
  color: grey;
  bottom: 1%;
  right: 5%;
}
.featured button {
  text-transform: uppercase;
  width: 250px;
  height: 45px;
  border: none;
  border-radius: 50px;
  position: absolute;
  right: 13%;
  bottom: 23%;
  padding: 10px 20px;
  background-color: var(--orange);
}
.featured a {
  text-decoration: none !important;
  color: var(--white-color) !important;
}
.featured .featured-description-bk {
  background-color: var(--white-color);
  border-radius: 20px;
  position: absolute;
  top: 0%;
  left: 40%;
  height: 100%;
  width: 100%;
}
.featured .featured-profile-img {
  height: 100%;
}
.featured .featured-logo {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  background-color: var(--black-color);
  position: absolute;
  bottom: 40%;
  left: 35%;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}
.featured .featured-logo img {
  height: 100%;
}

.featured-description {
  position: absolute;
  color: var(--black-color);
  font-weight: 1000;
  font-size: 2rem;
  top: 25%;
}
.featured-description p {
  padding-bottom: 1rem;
}
.featured-description .featured-description-title {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: -5%;
  letter-spacing: 0.1rem;
}
.featured-description h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;
  color: var(--black-color);
  font-weight: 600;
  letter-spacing: 0.2rem;
}

/* ------------- Footer (for All Page) ---------------*/
.footer {
  height: 40vh;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 10% 40%;
  margin: 3% 0%;
  word-break: keep-all;
}
.footer h1 {
  font-weight: 700;
}
.footer .footer-content {
  font-size: 0.9rem;
  text-align: center;
}
.footer a {
  text-decoration: none;
}
.footer .highlight {
  color: var(--orange) !important;
  font-weight: 700;
  font-size: 1.2rem;
}
.footer .footer-link {
  justify-content: center;
}
.footer ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  justify-content: center;
}
.footer li {
  display: list-item;
  list-style-type: none;
  float: left;
  margin-left: 12%;
  align-items: center;
}
.footer li .fab {
  font-weight: 400;
  display: inline-block;
  color: var(--white-color) !important;
  font-size: 30px;
}

/*-----------Work Page ----------------------*/
.work-title {
  margin-top: 10%;
  text-transform: uppercase;
}
.work-title .lg-heading {
  color: var(--white-color);
  line-height: 1000em;
  font-weight: 800;
  font-size: 40px;
  line-height: 4rem;
  letter-spacing: 0.1em;
}

.filter {
  margin-top: 5%;
  width: 100vw;
  align-items: center;
}
.filter .work-btn {
  border: solid 1px var(--orange);
  border-radius: 10%;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  color: var(--orange);
  padding: 0.5rem 0.2rem;
  margin: 0 0.5rem;
  width: 250px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 20px;
}
.filter .work-active {
  border: solid 1px var(--orange);
  border-radius: 10%;
  background-color: var(--orange);
  font-family: "Poppins", sans-serif;
  color: var(--white-color);
  padding: 0.5rem 0.2rem;
  margin: 0 0.5rem;
  width: 250px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 20px;
  transform: translateY(-7px);
}
.filter .spacer {
  clear: both;
  height: 60px;
}

.work-card {
  align-items: center;
  background-color: var(--orange);
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  display: block;
}
.work-card #parent {
  align-items: center;
  padding: 5%;
}

.box {
  width: 100vw;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 20px;
  display: inline-block;
  padding: 2%;
  transition: all 0.5s;
}
.box a {
  text-decoration: none;
}
.box .overlay-title {
  text-decoration: none;
  color: var(--white-color);
  letter-spacing: 2px;
  line-height: 40px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  margin: 30% 0% 3% 0%;
  font-size: 50px;
  font-weight: 700;
}
.box .overlay-tools {
  text-decoration: none;
  color: var(--white-color);
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  margin: 5% 0% 3% 0%;
  letter-spacing: 4px;
  font-size: 15px;
  line-height: auto;
  font-weight: 200;
}

.box1 {
  background: url("https://i.ibb.co/XxSH0Vd/ecopac-workcard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box2 {
  background: url("https://i.ibb.co/gWFmk5W/portfolio-workcard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box3 {
  background: url("https://i.ibb.co/hVqy05x/kimmyblog-workcard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box4 {
  background: url("https://i.ibb.co/y8h7p4Z/digitalcreatives-workcard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box5 {
  background: url("https://i.ibb.co/4VV0BJ1/twitter-mockup.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box6 {
  background: url("https://i.ibb.co/LtJpjLW/graphicdesign-workcard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  background-size: auto;
}
.box:hover .overlay-title {
  transform: translateY(0px);
  opacity: 1;
}
.box:hover .overlay-tools {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}

/*------------ About Page ------------------*/
.about-intro {
  padding: 10rem 10rem 0 rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0% 10% 0%;
}
.about-intro h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--white-color);
  line-height: 1000em;
  font-weight: 800;
  font-size: 40px;
  line-height: 4rem;
  letter-spacing: 0.1em;
}

.about-work-table td {
  width: 600px;
  height: 60px;
  border-bottom: white 1.5px solid;
}

.about-card {
  align-items: center;
  background-color: var(--orange);
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  display: block;
  color: var(--white-color);
}
.about-card h1 {
  color: var(--blue) !important;
  font-weight: 800;
  font-size: 3rem;
  text-shadow: 0px 3px 3px #DDEEFF;
}
.about-card p {
  text-align: left;
  line-height: 1.5;
  margin: 10% 5% 5% 0%;
  letter-spacing: 0.8px;
  font-size: 1rem;
}
.about-card a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 700;
}
.about-card .about-img {
  width: auto;
  margin-left: 20%;
}
.about-card .about-links li {
  list-style-type: none;
  float: left;
  margin-left: 20px;
}
.about-card .about-links li :hover {
  transform: scale(1);
}
.about-card .links-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: var(--white-color);
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.4392156863);
  overflow: hidden;
  position: relative;
}
.about-card .links-btn i {
  line-height: 50px;
  margin-left: 30%;
  transition: 0.2s linear;
  color: var(--orange) !important;
  font-size: 25px;
}
.about-card .links-btn:hover i {
  transform: scale(1.3);
  color: var(--white-color) !important;
}
.about-card .links-btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: var(--blue);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.about-card .links-btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
/*---------Project Page ------------------*/
.project {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.8px;
}

.project-info {
  padding: 6rem 10rem 6rem 10rem;
  text-align: left;
  color: var(--white-color);
  margin: 4rem -1rem 0rem -1rem;
  background-color: var(--orange);
  font-family: "Poppins", sans-serif;
}
.project-info .project-overview-card {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.project-info .project-title h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.project-info .project-cat {
  color: var(--white-color);
  letter-spacing: 1.8px;
  font-family: "Poppins", sans-serif;
}
.project-info .project-overview p {
  margin-top: 1rem;
}
.project-info .sm-heading {
  font-weight: 600;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.project-info .project-info-detail {
  margin-top: 5rem;
}
.project-info .content {
  margin-top: 1.5rem;
  letter-spacing: 1px;
}
.project-info .info-detail {
  display: flex;
  flex-direction: column;
  border-left: solid 3px var(--white-color);
}

.portfolio-thumb {
  background-image: url("/views/img/Portfolio-mockup.jpg");
  min-height: 600px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}

.twitter-thumb {
  background-image: url("/views/img/twitter_mockup.jpg");
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}

.ecopac-thumb {
  background-image: url("/views/img/ecopac-thumb.jpg");
  min-height: 600px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}

.blog-thumb {
  background-image: url("/views/img/blog-mockup.jpg");
  min-height: 600px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}

.sweetpomona-thumb {
  background-image: url("/views/img/sweetpomona-mockup.jpg");
  min-height: 600px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}

.hotchi-thumb {
  background-image: url("/views/img/hotchi-mockup.jpg");
  min-height: 600px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}

.dgc-thumb {
  background-image: url("/views/img/digital-creatives-thumb.jpg");
  min-height: 600px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}

.dgc-phase {
  margin-top: 5%;
}

.dgc-content {
  margin: 3%;
}

.dgc-lg-heading {
  color: var(--orange);
  margin-left: 10px;
  line-height: 1000em;
  font-weight: 800;
  font-size: 50px;
  line-height: 4rem;
  letter-spacing: 0.1em;
}

.auto-slide {
  margin-bottom: 10%;
}

.slider {
  height: 395px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before, .slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: 4500px;
}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slide-IG img {
  width: 394px;
  height: 394px;
}

.slide img {
  width: 274px;
  height: 410px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3654px);
  }
}
.project-detail {
  background-color: var(--white-color);
  color: var(--black-color) !important;
  text-align: left;
  margin: 0rem -1rem 0rem -1rem;
  padding-top: 5rem;
  justify-content: center;
}
.project-detail .phase {
  padding: 0rem 0rem 3rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  word-break: break-all;
}
.project-detail .phase-img {
  width: auto;
  max-width: 800px;
}
.project-detail .phase-img img {
  width: 700px;
}
.project-detail .phase-img :hover {
  transform: scale(1.02);
  transition-duration: all 1s;
}
.project-detail .content-2 {
  text-align: right !important;
}
.project-detail .content-4 {
  text-align: left !important;
}
.project-detail .phase h1 {
  color: var(--orange) !important;
  margin-bottom: 2.5rem;
  font-size: 3rem;
  font-weight: 800;
}
.project-detail .phase-num {
  color: var(--blue);
  font-size: 3rem;
  font-weight: 800;
}
.project-detail .preview {
  background: var(--orange);
  border-radius: 20px;
  width: 180px;
  padding: 10px 20px 10px 20px;
  position: relative;
  align-content: center;
  letter-spacing: 1px;
  border: #f47731 1px solid;
  margin-right: 10px;
}
.project-detail .preview .preview-link {
  text-decoration: none;
  color: white;
}
.project-detail .code {
  background: var(--white-color);
  border: #f47731 1px solid;
  border-radius: 20px;
  width: 180px;
  padding: 10px 20px 10px 20px;
  position: relative;
  align-content: center;
  letter-spacing: 1px;
}
.project-detail .code_link {
  text-decoration: none;
  color: #f47731;
}

/*--------------Loading Page -------------- */
#lastray {
  margin: auto;
  border-radius: 100%;
  border: 0px solid;
  border-color: var(--ray-color);
  opacity: 1;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#loading-page {
  background: var(--back-color);
  border-radius: 100%;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 400vh;
  height: 400vh;
  position: fixed;
  overflow: hidden;
  transition-duration: 1s;
}

#loader {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 200px;
  position: absolute;
  max-height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.element {
  margin: auto;
  position: absolute;
}

.sphere {
  background: radial-gradient(circle, var(--main-color), var(--main-color-dark));
  width: 50px;
  height: 50px;
  border-radius: 100%;
  animation: pump 4s infinite ease-in-out;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 15px 0px rgba(200, 230, 255, 0.5);
}

.ray {
  margin: auto;
  border-radius: 100%;
  border: 5px solid;
  border-color: var(--ray-color);
  opacity: 1;
  width: 10px;
  height: 10px;
  animation: ray 1s infinite ease-out;
  animation-delay: 1s;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 15px 0px rgba(255, 230, 200, 0.5);
}

.spark {
  width: 200px;
  height: 200px;
}

.particles {
  transform: translate(-50%, -50%);
}

.particle {
  background-color: var(--spark-color);
  width: 5px;
  height: 5px;
  border-radius: 100%;
  opacity: 0;
  animation: particle 1s infinite ease-in;
  left: 0%;
  top: 0%;
}

.spark1 {
  transform: rotate(20deg);
}

.spark2 {
  transform: rotate(40deg);
}

.spark3 {
  transform: rotate(66deg);
}

.spark4 {
  transform: rotate(172deg);
}

.spark5 {
  transform: rotate(110deg);
}

.spark6 {
  transform: rotate(130deg);
}

.spark7 {
  transform: rotate(-100deg);
}

.spark8 {
  transform: rotate(-50deg);
}

.spark9 {
  transform: rotate(-80deg);
}

.spark10 {
  transform: rotate(-173deg);
}

.spark11 {
  transform: rotate(-7deg);
}

.spark12 {
  transform: rotate(-133deg);
}

.particle1 {
  animation-delay: 0.5s;
}

.particle2 {
  animation-delay: 0s;
}

.particle3 {
  animation-delay: 2.2s;
}

.particle4 {
  animation-delay: 0.2s;
}

.particle5 {
  animation-delay: 2s;
}

.particle6 {
  animation-delay: 1.2s;
}

.particle7 {
  animation-delay: 2.5s;
}

.particle8 {
  animation-delay: 1.5s;
}

.particle9 {
  animation-delay: 1s;
}

.particle10 {
  animation-delay: 2.5s;
}

.particle11 {
  animation-delay: 0.7s;
}

.particle12 {
  animation-delay: 1.7s;
}

.loaded {
  width: 0px !important;
  height: 0px !important;
  transition: 1.2s ease-out;
}

.whitebk {
  background: var(--white-color) !important;
}

.opzero {
  opacity: 0;
  transition: 0.5s ease-out;
}

.finalray {
  animation: ray 1s ease-out;
  animation-delay: 0.3s;
  border: 1px solid;
}

@keyframes pump {
  0% {
    width: 50px;
    height: 50px;
  }
  83% {
    width: 88px;
    height: 88px;
  }
  85% {
    width: 90px;
    height: 90px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
@keyframes ray {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
    border-width: 1px;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
    border-width: 5px;
  }
}
@keyframes particle {
  0% {
    left: 0%;
    top: 0%;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    left: 50%;
    top: 50%;
    opacity: 1;
  }
}
/*==========  Non-Mobile First Method  ==========*/
/* All Device */
/* Large Devices, Wide Screens : ~ 1200px */
@media only screen and (max-width: 1200px) {
  .box {
    height: 250px;
  }
  .project-detail {
    display: flex;
    flex-direction: column;
  }
  .project-detail .phase {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
/* Medium Devices, Desktops : ~ 992px */
@media only screen and (max-width: 992px) {
  .box {
    height: 275px;
  }
  .project-info .info-detail {
    margin-top: 5%;
  }
  .project-detail .phase-content {
    width: max-content;
    padding: 5% 20% 5% 20%;
  }
  .about-card .row {
    display: flex;
    flex-direction: column;
  }
  .about-card .about-details {
    width: max-content;
    justify-content: center;
  }
  .about-card .about-details-img {
    width: max-content;
  }
  .about-card .about-links {
    margin-left: 20%;
  }
}
/* Small Devices, Tablets : ~ 768px */
@media only screen and (max-width: 768px) {
  nav .logo {
    width: fit-content;
  }
  nav .nav-items {
    position: absolute;
    background: #f47731;
    right: 0px;
    height: 100vh;
    left: -4%;
    top: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: screen;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  nav .nav-active {
    transform: translateX(0%);
  }
  nav .nav-items li {
    margin-bottom: 3rem;
    font-size: 1.3rem;
  }
  nav .nav-items a:hover {
    color: var(--white-color);
  }
  nav .nav-items a.active {
    color: var(--white-color);
  }
  nav .nav-items a.active:hover {
    color: var(--orange);
  }
  nav .nav-link:hover:before {
    left: 0;
    width: 100%;
    color: var(--blue);
  }
  nav .nav-masthead .active {
    color: var(--white-color);
    border-bottom-color: var(--white-color);
  }
  .hamburger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10%;
  }
  .featured {
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: 600px;
    justify-content: center;
  }
  .featured .featured-logo {
    top: 50%;
    left: 38%;
  }
  .featured img {
    width: 100%;
    max-width: 500px;
    height: 80%;
    top: -10%;
  }
  .featured .featured-description-bk {
    width: 100%;
    max-width: 500px;
    height: 100%;
    top: 60%;
    left: -5%;
  }
  .featured .featured-date {
    display: none;
  }
  .featured .featured-description {
    width: 100%;
    max-width: 500px;
    height: 300px;
    top: 70%;
    left: -5%;
  }
  .featured .featured-description h1 {
    font-size: 1.4rem;
  }
  .featured .featured-description p {
    text-align: center;
    margin-bottom: 1%;
  }
  .featured .featured-btn {
    width: 100%;
    max-width: 300px;
    bottom: 6%;
  }
  .box {
    width: 100%;
    max-width: 400px;
    height: max-content;
  }
  .filter .work-btn {
    width: 80%;
    max-width: 500px;
    margin-bottom: 10px;
  }
  .work-card .overlay-title {
    margin-top: 25%;
  }
  .work-card .overlay-tools {
    margin-bottom: 25%;
  }
  .project-info {
    padding: 5rem;
    max-width: 700px;
  }
  .project-info .project-overview-card {
    width: 100%;
    max-width: 700px;
  }
  .phase .phase-img {
    width: 100%;
    max-width: 700px;
  }
  .phase .phase-img img {
    width: 100%;
  }
}
/* Extra Small Devices, Phones : ~ 480px */
@media only screen and (max-width: 480px) {
  .featured button {
    width: 100%;
    max-width: 500px;
    justify-content: center;
  }
  .phase h1 {
    line-height: 1.5;
  }
  .about-card .about-links {
    justify-content: center;
    padding: 0%;
    margin: 10%;
  }
  .about-card .about-details-img {
    width: 100%;
    max-width: max-width;
  }
  .about-card .about-details-img img {
    margin: 0%;
  }
}
/* Custom, iPhone Retina : ~ 320px */
@media only screen and (max-width: 320px) {
  body button {
    width: 100%;
    max-width: 300px;
    right: 0%;
    position: relative;
    left: 1%;
  }
  .hamburger {
    margin-right: 0%;
  }
  .featured {
    height: 500px;
  }
  .featured .featured-logo {
    margin-left: 0%;
    margin-top: 5%;
  }
  .featured .featured-btn {
    width: 100%;
    max-width: 300px;
  }
  .featured p {
    padding-bottom: 1%;
  }
  .work-title {
    margin-top: 30%;
  }
  .aboutpage .about-intro {
    margin-top: 30%;
  }
  .aboutpage .about-links li {
    margin: 0%;
    padding: 0%;
  }
  .aboutpage .about-img {
    width: 100%;
    max-width: 300px;
  }
  .phase {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .phase button {
    margin: 3%;
  }
  .footer {
    width: 100%;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    position: relative;
    left: 20%;
    bottom: 6%;
  }
}

/*# sourceMappingURL=style.css.map */
