:root {
  --blue: #1b2b65;
  --bright-blue: #2c449a;
  --orange: #f47731;  
  --main-color: #ABA1FF;
  --main-color-dark: #675FB2;
  --ray-color: #FFD6BB;
  --spark-color: #70B268;
  --back-color: #2f2e4e;
}

// font
@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Light'), local('TTFirsNeue-Light'),
    url('../fonts/TTFirsNeue-Light.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Regular'), local('TTFirsNeue-Regular'),
    url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
    url('../fonts/TTFirsNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


html{
  scroll-behavior: smooth;
  width: 100vw;
}

// background: linear-gradient(-45deg, #0E185F, #ee7752, #1b2b65, #205375);
//background: linear-gradient(-45deg, #ee7752, #0E185F, #1b2b65, #205375);

body{
  //background: linear-gradient(-45deg, #2f2e4e, #205375, #2f2e4e, #ee7752);
  background: radial-gradient(var(--back-color), var(--back-color), var(--main-color-dark));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  margin-left: -1%;
  font-family: 'TT Firs Neue', Arial, sans-serif;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



body:after {
  content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.2;
  filter: invert(1);
  background-size: cover;
}

.wrapper{
  width : 1440px;

}

.cover-container {
  max-width: 42em;
}

// mouse cursor
.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}

.link-grow{
  transform: scale(2);
  border: none;
  background-color: #f47731;
}


.link-grow-2{
  transform: scale(1.5);
  opacity: 90%;
  border: none;
  background-color: #1b2b65;
  border: 2px solid white;
}

/*
 * Header
 */

header{
  display:flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  min-height: 8vh;
  padding: 0.5rem 3rem;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

//header-logo

.float-md-start {
  font-size: 1rem;
  margin-top: 1%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color:white;
}

//nav bar
nav{
  display: flex;
  position : fixed;
  z-index: 2;
  width: 100%;
  min-height: 8vh;
  padding: 0.5rem 3rem;
  align-items: center;
  justify-content: space-around;
}

nav span{
  font-weight: 200;
  text-transform: uppercase;
}

.navloading {
  display:none;
}

nav a{
  text-decoration: none;
  color: white;
}

nav a:hover{
  text-decoration: none;
  color: white;
}


ul{
  color: white !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start : 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.nav-link{
  list-style: none;
  color: white !important; 
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.nav-link:before {
  content: "";
  position: absolute;
  height: 2px;
  color: #fff !important;
  background: #fff;
  bottom: -4px;
  right: 0;
  width: 0%;
  transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}


.nav-link:hover:before {
  left: 0;
  width: 100%;
  color: #fff;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

// hero section

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% 0% 0% 0%;
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
}

.hero__title {
  color: white;
  text-align: center;
  line-height: 1000em;
  max-width: 1400px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 60px;
  line-height: 4rem;
  letter-spacing: 0.1em;
}


.hero-ratate-section{
  align-items: left;
  position : relative;
  text-align: center;
  font-size: 3.5em;
  color: white;
  font-weight:600;
  padding-top: 3%;
}

.txt-rotate {
  color:#f47731;
}

.hero_cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}




// featured-work section
.featured-title h2{
  color: white;
  text-align: center;
  line-height: 1000em;
  max-width: 1400px;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 40px;
  line-height: 4rem;
  letter-spacing: 0.1em; 
}


.featured-card{
  align-items: center;
  background-color: #f47731;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.featured {
  display: flex;
  position: relative;
  width: 800px;
  min-width: 400px;
  height: 300px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  margin: 30px;
}

.featured-profile-img {
  height: 100%;
  //width: 800px;
}

.featured-description-bk {
  background-color: white;
  border-radius: 30px;
  position: absolute;
  top: 0%;
  left: 40%;
  height: 100%;
  width: 108%;
  //transform: skew(19deg, -9deg);
}

.second .featured-description-bk {
  background-image: linear-gradient(-20deg , #bb7413, #e7d25c)
}

.featured-logo {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  background-color: black;
  position: absolute;
  bottom: 40%;
  left: 35%;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.featured-logo img {
  height: 100%;
}

.featured-description {
  position: absolute;
  color: black;
  font-weight: 1000;
  font-size:2rem;
  left: 55%;
  bottom: 0%;
  top: 30%;
  }

  
.featured-description p{
  padding-bottom: 1rem;
  }


.featured-description-title{
  font-size: 1rem;
  font-weight: 200;
  display: block;
  margin-bottom: -5%;
  letter-spacing: 0.1rem;
}

.featured-description h1{
  font-size:2rem;
  text-align:center;
  margin-top: 8px;
  margin-bottom: 20px;
  color : black;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.featured-btn {
  width:150px;
  height: 45px;
  border: none;
  border-radius: 50px;
  position: absolute;
  right: 22%;
  bottom: 23%;
  padding: 10px 20px;
  background-color: #f47731; 
  color: white;

  :hover{
    color: black;
    font-weight: 400;
  }
}

.featured-btn a {
  color: #fff !important;
  font-weight: 300;
  text-decoration: none;
}


.featured-date {
  position: absolute;
  color: grey;
  left: 85%;
  bottom: 1%;
}

// footer section

.footer {
  height: 40vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 10% 40%;
  margin : 3% 0%;
}

.footer h1{
  font-weight: 700;
}

.footer-content{
  font-size: 0.9rem;
  text-align: center;
}

.footer-content a{
  text-decoration: none;
}

.highlight {
  color :#f47731 !important;
  font-weight: 700;
  font-size: 1.2rem;
}

.fab{
  font-weight: 400;
  display: inline-block;
  color: white !important;
  font-size: 30px;
}

.footer-link {
  margin-block-start : 1em;
  margin-block-end : 1em;
  margin-left: 28%;
}

.footer-link li{
  display: list-item;
  text-align: center;
  list-style-type: none;
  float: left;
  margin-left:20px;
  align-items: center;
}



// workpage

.work-title{
  margin-top:10%;
  text-transform: uppercase;
}

.lg-heading{
  color: white;
  line-height: 1000em;
  font-weight: 800;
  font-size: 40px;
  line-height: 4rem;
  letter-spacing: 0.1em; 
}


.filter{
  margin-top:5%;
  width:100vw;
  align-items: center;
}


.work-btn {
  border: solid 1px #f47731;
  border-radius: 10%;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: #f47731;
  padding: 0.5rem 0.2rem;
  margin: 0 0.5rem;
  width: 250px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 20px;
}

.work-active {
  border: solid 1px #f47731;
  border-radius: 10%;
  background-color: #f47731;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 0.5rem 0.2rem;
  margin: 0 0.5rem;
  width: 250px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 20px;
  transform: translateY(-7px);
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.73);
}

//  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.73);



.work-card {
  align-items: center;
  background-color: #f47731;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin-left:1rem;
}

#parent{
  align-items: center;
  padding: 5%;
}

.box {
  background-color:white;  
  width:250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 20px;
  display:inline-block;
  padding: 2%;
  transition: all 0.5s;
}

.box1{
  background: url("http://www.ecopaccanada.com/wp-content/uploads/2022/04/2-scaled.jpg");
}

.box2{
  background: url("http://www.ecopaccanada.com/wp-content/uploads/2022/04/3-scaled.jpg") ;
}

.box3{
  background: url("http://www.ecopaccanada.com/wp-content/uploads/2022/04/2-scaled.jpg");
}

.box4{
  background: url("http://www.ecopaccanada.com/wp-content/uploads/2022/04/3-scaled.jpg") ;
}


.box5{
  background: url("http://www.ecopaccanada.com/wp-content/uploads/2022/04/2-scaled.jpg");
}

.box6{
  background: url("http://www.ecopaccanada.com/wp-content/uploads/2022/04/3-scaled.jpg") ;
}



.overlay-contents{
  text-decoration: none;
}

.overlay-title{
  text-decoration: none;
  color: #1b2b65;
  letter-spacing: 2px;
  line-height: 40px;
  opacity: 0;
  transform : translateY(40px);
  transition: all 0.7s;
  margin: 10% 0% 3% 0%;

  & h3{
    font-size: 40px;
    font-weight: 600;
    //text-shadow: 0px 1px 1px #DDEEFF;  
  }
}

.overlay-tools{
  text-decoration: none;
  color: white;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  margin: 5% 0% 3% 0%;

  & p{
    letter-spacing: 4px;
    font-size: 15px;
    line-height: auto;
    font-weight: 200;
  }

}

.box:hover {
  opacity: 1;  
  background: rgba(0,0,0,0.7);

  & .overlay-title{
    transform: translateY(0px);
    opacity: 1;
  }
  
  & .overlay-tools{
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }

}



.spacer {
  clear: both;
  height: 60px;
}


// about page

.about-intro{
  padding: 10rem 10rem 0 rem 10rem;
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
 }

.about-intro h1{
  text-align: center;
  margin-bottom: 2rem;
}


.about-card{
  align-items: center;
  background-color: #f47731;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  width:100vw;
  font-family: 'Poppins', sans-serif;
  display: block;
}

.about-card{
  color: white;
}

.about-card h1{
  color: #1b2b65 !important;
  font-weight: 800;
  font-size: 3rem;
  text-shadow: 0px 3px 3px #DDEEFF;  
}

.about-card p{
  text-align: left;
  line-height: 1.5;
  margin: 10% 5% 5% 5%;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}

.about-img{
  width: 500px;
  height : 625px;
  margin-left: 20%;
}

.about-links{
  
  & li{
    list-style-type: none;
    float: left;
    //margin-left: 20px;  
  }
  & li :hover{
      transform: scale(1);
  }
}


.links-btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #f1f1f1;
	margin: 10px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	overflow: hidden;
	position: relative;
}

.links-btn i {
	line-height: 50px;
	font-size: 26px;
	transition: 0.2s linear;
  color:#f47731 !important;
}
.links-btn:hover i {
	transform: scale(1.3);
	color: #f1f1f1 !important;
}
.links-btn::before {
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #0E185F;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.links-btn:hover::before {
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes aaa {
	0% {
		left: -110%;
		top: 90%;
	}
	50% {
		left: 10%;
		top: -30%;
	}
	100% {
		top: -10%;
		left: -10%;
	}
}


//Project Page

.project{
  font-family: 'Poppins', sans-serif;
}

.project-info {
  padding: 6rem 10rem 6rem 10rem;
  text-align: left;
  color: white;
  margin: 4rem -1rem 0rem -1rem;
  background-color: #f47731;

  & .project-overview-card {
    display:flex;
    justify-content: space-between;
    margin-top: 3rem;
  }

  & .project-cat {
    color: white;
    letter-spacing: 1.8px;
  }

  & .project-overview p{
    margin-top : 1rem;
  }
  
  & .sm-heading {
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  
  & .project-info-detail{
    margin-top: 5rem; 
  }

  & .content{
    margin-top: 1.5rem;
    letter-spacing: 1px;
  } 

  & .info-detail {
    display: flex;
    flex-direction: column;
    border-left: solid 3px white;
  }
}

.noteapp-thumb {
  background-image: url('http://www.ecopaccanada.com/wp-content/uploads/2022/04/2-scaled.jpg');
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem -1rem 0rem -1rem;
}



//project-detail section


.project-detail {
  padding: 6rem 10rem 6rem 10rem;
  background-color: white;
  color: black !important;
  text-align: left;
  margin: 0rem -1rem 0rem -1rem;
  

  & .phase{
    padding: 0rem 5rem 5rem 5rem;
  }
  & .phase-img{
    align-items: center;    
  }

  & .content-2{
    text-align: right !important;
  }
  & .phase h1{
    color:#f47731 !important;
    margin-bottom: 2.5rem;
    font-size: 3rem;
  }
  
  & .phase-num{
    color :#0E185F;
    font-size: 3rem;
    font-weight: 800;
  }
}



//loading page

#lastray{
  margin: auto;
  border-radius: 100%;
  border: 0px solid;
  border-color: var(--ray-color);
  opacity: 1;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
#loading-page{
  background: var(--back-color);
  border-radius: 100%;
  top:50%;
  left: 50vw;
  transform: translate(-50%,-50%);
  width: 400vh;
  height: 400vh;
  position: fixed;
  overflow: hidden;
  transition-duration: 1s;
}
#loader{
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 200px;
  position: absolute;
  max-height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
}
.element{
  margin: auto;
  position: absolute;
}
.sphere{
  background: radial-gradient(circle, var(--main-color), var(--main-color-dark));
  width: 50px;
  height: 50px;
  border-radius: 100%;
  animation: pump 4s infinite ease-in-out;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 15px 0px rgba(200, 230, 255, 0.5);
}
.ray{
  margin: auto;
  border-radius: 100%;
  border: 5px solid;
  border-color: var(--ray-color);
  opacity: 1;
  width: 10px;
  height: 10px;
  animation: ray 1s infinite ease-out;
  animation-delay: 1s;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 15px 0px rgba(255, 230, 200, 0.5);
}
.spark{
  width: 200px;
  height: 200px;
}
.particles{
  transform: translate(-50%, -50%);
}
.particle{
  background-color: var(--spark-color);
  width:5px;
  height:5px;
  border-radius: 100%;
  opacity: 0;
  animation: particle 1s infinite ease-in;
  left: 0%;
  top: 0%;
}
.spark1{transform: rotate(20deg);}
.spark2{transform: rotate(40deg);}
.spark3{transform: rotate(66deg);}
.spark4{transform: rotate(172deg);}
.spark5{transform: rotate(110deg);}
.spark6{transform: rotate(130deg);}
.spark7{transform: rotate(-100deg);}
.spark8{transform: rotate(-50deg);}
.spark9{transform: rotate(-80deg);}
.spark10{transform: rotate(-173deg);}
.spark11{transform: rotate(-7deg);}
.spark12{transform: rotate(-133deg);}

.particle1{animation-delay: .5s;}
.particle2{animation-delay: 0s;}
.particle3{animation-delay: 2.2s;}
.particle4{animation-delay: .2s;}
.particle5{animation-delay: 2s;}
.particle6{animation-delay: 1.2s;}
.particle7{animation-delay: 2.5s;}
.particle8{animation-delay: 1.5s;}
.particle9{animation-delay: 1s;}
.particle10{animation-delay: 2.5s;}
.particle11{animation-delay: .7s;}
.particle12{animation-delay: 1.7s;}

.loaded{
  width: 0px !important;
  height: 0px !important;
  transition: 1.2s ease-out;
}
.whitebk{
  background:#fff!important;
}
.opzero{
  opacity: 0;
  transition: 0.5s ease-out;
}
.finalray{
  animation: ray 1s ease-out;
  animation-delay: .3s;
  border: 1px solid;
}
/*ANIMATIONS*/
@keyframes pump {
    0% {width: 50px; height: 50px;}
    83% {width: 88px; height: 88px;}
    85% {width: 90px; height: 90px;}
    100% {width: 50px; height: 50px;}
}
@keyframes ray {
    0% {width: 10px; height: 10px; opacity: 1; border-width: 1px;}
    100% {width: 200px; height: 200px; opacity: 0; border-width: 5px;}
}
@keyframes particle {
    0% {left:0%; top:0%; opacity: 0;}
    70% {opacity: 1;}
    100% {left:50%; top:50%; opacity: 1;}
}

